body {
	background: #000000;
	color: #ffffff;
}

#content {
	width: 320px;
	margin: 0 auto;
	padding: 5px;
}

hr {
	border: 0px;
	border-top: 1px #ababab solid;
}

.detailedinfo {
	display: none;
}

a {
	color: #efefef;
}

a:hover {
	color: #acacac;	
}